.header {
    background-color: #DBE2EF;
    padding: .5rem 4%;
    box-shadow: 0px 5px 10px 0px #aaa;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header .navbar-wrap {
    padding: 0.1rem 5rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .navbar-wrap img {
    height: 100%;
}

.header .navbar-wrap .search-bar {
    height: 0.3rem;
    border-radius: 15px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 1.5rem 0rem;
    background-color: #fff;
}

.header .navbar-wrap .search-bar input {
    width: 100%;
    margin-left: 1rem;
    background: none;
    font-size: 1.2rem;
    box-shadow: none;
    border: none;
    outline: none;
}

.header .navbar-wrap .search-bar button {
    font-size: 1.2rem;
    height: 3rem;
    width: 7.5rem;
    padding: 1rem 0rem;
    margin-left: 10px;
    color: #fff;
    cursor: pointer;
    background: #F08A5D;
    box-shadow: none;
    border: none;
    border-radius: 0px 15px 15px 0px;
}

.header .navbar-wrap .icon {
    display: flex;
    align-items: 'center';
}


.header a i {
    font-size: 3rem;
    color: #F08A5D;
    line-height: 2.4rem;
    text-align: center;
    margin-left: 0.8rem;
    cursor: pointer;
}

.header sup {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    top: 10%;
    color: #fff;
    line-height: 15px;
    margin-left: -1rem;
    text-align: center;
}

.header .navbar-wrap .navbar {
    display: flex;
    align-items: center;
    height: 100%;
}

.header .navbar-wrap .navbar a {
    font-size: 2.4rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    margin: 1rem;
}

.header .navbar-wrap .navbar a:hover {
    color: #F08A5D;
    border-bottom: 1px solid #F08A5D;
}