body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.header {
    padding-bottom: 20px;
}

.footer {
    padding-top: 20px;
}

.user-profile {
    display: flex;
}

.sidebar {
    width: 30%;
    background-color: #f2f2f2;
    padding: 40px;
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
    font-size: 30px;
    line-height: 1.5;
    margin-left: 10px;
    margin-right: 40px;
    margin-top: 80px;
    /* Thêm margin-top để cách header */
    margin-bottom: 80px;
    /* Thêm margin-bottom để cách footer */
}

/* Thiết lập kiểu cho danh sách liên kết trong sidebar */
.sidebar ul {
    list-style-type: none;
    /* Loại bỏ dấu chấm trước mỗi dòng liên kết */
    padding: 0;
    text-align: left;
    /* Cân chỉnh văn bản liên kết*/
}

/* Thiết lập kiểu cho từng dòng liên kết trong sidebar */
.sidebar li {
    margin: 10px 0;
    /* Khoảng cách giữa các dòng liên kết */
}


/* Màu và kiểu chữ cho các dòng liên kết */
.sidebar a {
    text-decoration: none;
    /* Loại bỏ gạch chân mặc định của liên kết */
    color: #333;
    /* Màu chữ */
    font-weight: bold;
    /* Kiểu chữ in đậm */
    display: block;
    /* Hiển thị liên kết như một khối */
    padding: 0;
    /* Loại bỏ padding */
}


/* Đổi màu liên kết khi hover chuột lên */
.sidebar a:hover {
    color: #ff5733;
}
.content_account {
    width: 70%;
    height: auto;
    background-color: #f2f2f2;
    padding: 20px;
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
    margin-left: 0;
    margin-top: 80px;
    margin-bottom: 80px;
    line-height: 1.75;
}

.order-details {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
}

.product-info {
    text-align: center;
}

.additional-info {
    text-align: right;
}

.additional-info p {
    margin: 0;
}

.order-info {
    font-size: 18px;
    margin: 20px 0;
}

.order {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px 0;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #F8F8FF;
}

/* Thêm kiểu cho container của màu sắc */
.color-container {
    display: flex;
    align-items: center;
}

/* Thêm kiểu cho ô màu sắc sản phẩm */
.product-color {
    width: 20px;
    height: 20px;
    border: 1px solid #000;
}

/* Điều chỉnh kích thước ảnh sản phẩm */
.product-image {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

/* Điều chỉnh kích thước nút "Hủy đơn" */
#status_button {
    background-color: #228B22	;
    color: white;
    border: none;
    padding: 5px 20px; /* Tăng padding để tăng kích thước */
    cursor: pointer;
    font-size: 16px; /* Điều chỉnh kích thước chữ */
    margin-right: 88px; /* Dịch sang bên trái 5px */
}




/* Thiết lập kiểu cho top navigation (đường link "Trang chủ" và "Tài khoản") */
.top-nav {
    font-size: 20px;
    margin-top: 20px;
    margin-left: 8px;
}

.top-nav a:hover {
    color: #ff5733;
}

.top-nav a {
    color: black;
    text-decoration: none;
    margin-right: 2px;
    font-weight: bold;
}


.footer .content {
    display: flex;
    justify-content: space-between;
}

.bottom {
    text-align: center;
}
