/*header*/


/*main*/
/* Thiết lập font và background chung */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
}



.thong-tin-giao-hang {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.khoang-1 {
    flex: 2;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.khoang-2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-left: 20px; 
}


.khoang-3 {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

h2 {
    text-align: left;
    margin-bottom: 20px;
    padding-left: 10px;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.khoang-2 .vanchuyen-section, .khoang-2 .thanhtoan-section {
    padding: 10px;
}

h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

input[type="radio"], input[type="checkbox"] {
    margin-right: 5px;
}

/* Định dạng phần tổng đơn hàng */
.tongdonhang {
    background-color: #f5f5f5;
    padding: 20px;
    text-align: left;
}

input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 3px;
}

p {
    margin: 10px 0;
}

h3 {
    font-size: 20px;
    color: ba;
    margin: 10px 0;
}

/* Định dạng phần mã giảm giá và chi tiết đơn hàng */
.giamgia {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.chitiet {
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

/* Định dạng nút Đặt hàng và Quay lại giỏ hàng */
.tongtien {
    display: flex;
    flex-direction: column;
    align-items: center; /* Canh giữa theo chiều ngang */
    text-align: center;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around; /* Canh đều cả hai nút */
    width: 100%; /* Đảm bảo chiều rộng của container bằng chiều rộng của .tongtien */
}

.dat-hang, .quay-lai-gio-hang {
    padding: 20px 20px;
    margin: 5px;
    background-color:  #F08A5D;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}
.quay-lai-gio-hang{  
    background-color:  #DBE2EF;
    color: black;
}


.dat-hang:hover, .quay-lai-gio-hang:hover {
    background-color: #b74616;
}
/* sửa checkbox
/* Điều chỉnh mỗi ô tích (checkbox) */
input[type="checkbox"] {
    width: 16px; /* Điều chỉnh chiều rộng */
    height:16px; /* Điều chỉnh chiều cao */
    margin-right: 5px; /* Điều chỉnh khoảng cách giữa checkbox và nhãn */
}

.TT1, .TT2, .VC { padding: 5px;}
