footer {
    background-color: #3F72AF;
    padding: 2rem 4.5rem;
}

footer .content {
    display: flex;
}

footer .content .box {
    flex: 1;
    display: flex;
    flex-direction: column;
    line-height: 2rem;
}

footer .content .box.col2 {
    flex: 2;
}

footer .content .box h3 {
    font-size: 1.6rem;
    text-transform: capitalize;
    margin-bottom: .5rem;
    color: #fff;
}

footer .content .box a {
    font-size: 1.2rem;
    color: #fff;
    text-transform: capitalize;
    text-decoration: none;
}

footer .content .box a:hover {
    color: #F08A5D;
}

footer .content .box p {
    font-size: 1.2rem;
    color: #fff;
}

footer .content .box .icons {
    margin-top: 2rem;
}

footer .content .box .icons i {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    border: 1px solid #fff;
    margin: 0rem 1rem;
}

footer .content .box .get-information {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 0.3rem;
    border-radius: 15px;
    padding: 1.5rem 0rem;
    margin-top: 1rem;
    background: #fff;
    width: calc(60% - 10px);
}

footer .content .box .get-information input {
    width: 100%;
    margin-left: 1rem;
    background: none;
    font-size: 1.2rem;
    box-shadow: none;
    border: none;
    outline: none;
    line-height: 1.5rem;
}

footer .content .box .get-information button {
    font-size: 1.2rem;
    height: 3rem;
    width: 7.5rem;
    padding: 1rem 0rem;
    margin-left: 10px;
    color: #fff;
    cursor: pointer;
    background: #F08A5D;
    box-shadow: none;
    border: none;
    border-radius: 0px 15px 15px 0px;
} 

footer .bottom {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    padding: 1.8rem;
    border-top: 1px solid #C3C3C3;
    line-height: 2rem;
}

footer .bottom p{
    font-size: 1.2rem;
    text-transform: capitalize;
    color: #fff;
}