.header {
    /* Thuộc tính khác cho header */
    padding-bottom: 20px;
    /* Để tạo khoảng cách giữa header và sidebar */
}

.footer {
    /* Thuộc tính khác cho footer */
    padding-top: 20px;
    /* Để tạo khoảng cách giữa footer và sidebar */
}

.user-profile {
    display: flex;
    /* Sử dụng flexbox */
}

/* Thiết lập kiểu cho phần sidebar */
.sidebar {
    width: 30%;
    background-color: #f2f2f2;
    padding: 40px;
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
    font-size: 30px;
    line-height: 1.5;
    margin-left: 10px;
    margin-top: 80px;
    /* Thêm margin-top để cách header */
    margin-bottom: 40px;
    /* Thêm margin-bottom để cách footer */
}

/* Thiết lập kiểu cho danh sách liên kết trong sidebar */
.sidebar ul {
    list-style-type: none;
    /* Loại bỏ dấu chấm trước mỗi dòng liên kết */
    padding: 0;
    text-align: left;
    /* Cân chỉnh văn bản liên kết*/
}

/* Thiết lập kiểu cho từng dòng liên kết trong sidebar */
.sidebar li {
    margin: 10px 0;
    /* Khoảng cách giữa các dòng liên kết */
}

/* Màu và kiểu chữ cho các dòng liên kết */
.sidebar a {
    text-decoration: none;
    /* Loại bỏ gạch chân mặc định của liên kết */
    color: #333;
    /* Màu chữ */
    font-weight: bold;
    /* Kiểu chữ in đậm */
    display: block;
    /* Hiển thị liên kết như một khối */
    padding: 0;
    /* Loại bỏ padding */
}

/* Đổi màu liên kết khi hover chuột lên */
.sidebar a:hover {
    color: #ff5733;
}

/* Thiết lập kiểu cho phần nội dung (content) */
.content_account {
    width: 70%;
    background-color: #f2f2f2;
    padding: 20px;
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
    margin-left: 40px;
    /* Đặt lại margin-left thành 0 để content nằm bên cạnh sidebar */
    margin-top: 80px;
    /* Thêm margin-top để cách header */
    margin-bottom: 40px;
    /* Thêm margin-bottom để cách footer */
    line-height: 1.75;
}

/* Thiết lập kiểu cho thông tin cá nhân */
.profile-info {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    /* Đặt cỡ chữ cho thông tin cá nhân */
}

/* Thiết lập khoảng cách giữa các mục thông tin */
.info-item {
    display: flex;
    justify-content: space-between;
}

/* Điều chỉnh cỡ chữ của các mục thông tin */
.info-item span {
    flex-basis: 40%;
    font-size: 30px;
    font-weight: bold; /* In đậm */
    margin-top: 20px;
    margin-bottom: 20px;
}

